<template>
  <div class="p-12 rounded-lg bg-gray-200 text-center">
    <h1 class="text-3xl font-medium mb-3 text-gray-800">SearchLight Movie List</h1>
  
  <div v-if="!userMovieView">
    <p class="text-gray-500 mb-6" >Manage your favourite movies</p>
    <div  class="grid grid-cols-8 w-full p-3 " v-for="movie in allMovies" :key="movie.id">
      <div class="col-span-6 text-left">
        <h2>{{ movie.Title }}</h2>
      </div>
      <div class="col-span-2 text-right">
        <button @click="addMovie(movie.id)" > + </button>
      </div>
    </div>
  </div>

  <div v-if="userMovieView">
    <p  class="text-gray-500 mb-6" >View your movies</p>
    <div class="grid grid-cols-8 w-full p-3 " v-for="movie in userMovies" :key="movie.id">
      <div class="col-span-6 text-left">
        <h2>{{ movie.Title }}</h2>
      </div>
      <div class="col-span-2 text-right">
        <button @click="removeMovie(movie.id)" > - </button>
      </div>
    </div>
  </div>

    <input v-if="authenticated && !userMovieView" type="text" v-model="newMovieTitle" class="  mt-6 w-full rounded  px-6 py-3 text-xs focus:outline-none; ">
    <button v-if="authenticated && !userMovieView" @click="AddNewMovie" class=" bg-blue-300 mt-6 w-full rounded-full  text-white px-6 py-3 text-xs focus:outline-none; ">ADD A MOVIE</button>
  </div>
  
  
</template>

<script>

import { mapActions, mapState, mapGetters } from 'vuex'

export default {
  
  components: {
    
  },

  created() {
    this.init()
  },

  computed: {
    ...mapState({
        userMovieView: state=> state.userMovieView,
        allMovies: state=> state.allMovies,
        userMovies: state=> state.userMovies,
    }),

    ...mapGetters({
      authenticated: 'auth/authenticated'
    })

  },
  

  methods: {

    ...mapActions({
        getAllMoviesAction: 'get_all_movies',
        createMovieAction: 'create_movie',
        getUserMoviesAction: 'get_user_movies',
        addUserMovieAction: 'add_user_movie',
        removeUserMovieAction: 'remove_user_movie'
    }),

    

    init: function(){
      this.getAllMoviesAction();
      this.getUserMoviesAction();
    },

    AddNewMovie: function(){
      this.createMovieAction({'title': this.newMovieTitle}).then(() =>{
        this.getAllMoviesAction();
        this.newMovieTitle = null;
      });
    },

    addMovie: function(movie_id){
      console.log('movie_id - '+ movie_id);
      
      this.addUserMovieAction(movie_id).then(() =>{
        this.getUserMoviesAction();
      });
      
    },

    removeMovie: function(movie_id){
      this.removeUserMovieAction(movie_id).then(() =>{
        this.getUserMoviesAction();
      });

    }




  },

  data(){
    return {
      newMovieTitle: null
    }
  }

}
</script>
