<template>
  <div>
    <form v-if="!authenticated" action="" @submit.prevent="login">
      <label for="email" >Email</label>
      <input v-model="email" id="email" name="email" class="rounded focus:outline-none focus:ring focus:border-blue-2 text-blue-3 placeholder-blue-3 w-full mb-6 p-2 text-sm border border-blue-2 border-solid" type="text" placeholder="sally@example.com">
      <label for="password" >Password</label>
      <input v-model="password" id="password" name="password" class="rounded focus:outline-none focus:ring focus:border-blue-2 text-blue-3 placeholder-blue-3 w-full mb-6 p-2 text-sm border border-blue-2 border-solid" type="password" placeholder="sally">
      <button type="submit" class=" bg-blue-300 mt-0 w-full rounded-full  text-white px-6 py-3 text-xs focus:outline-none; ">Login</button>
    </form>

    <div v-if="authenticated" class="p-12 rounded-lg bg-gray-200 text-center">
      <h1 class="text-3xl font-medium mb-3 text-gray-800">Welcome</h1>
    </div>
    
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {

  computed:{
    ...mapGetters({
      authenticated: 'auth/authenticated'
    })
  },

  methods: {
    ...mapActions({
      // login method name already used locally so we need to create an alias for
      // the 'login' mapped action  
      loginAction: 'auth/login'

    }),

    login () {
      this.loginAction({ email: this.email, password: this.password})
    }
  },

  data () {
    return {
      email: null,
      password: null
    }
  }
}
</script>