<template>
<!-- items-center :: is like text-align center for each item  -->
    <!-- justify-between justifies the space between the lists -->
    <header class="flex flex-wrap md:flex-n-wrap items-center justify-between mb-6 -mx-3 -mt-3">
      <ul class="flex items-center">
        <li v-if="authenticated" @click="setUserMovies(false)" ><router-link :to="{ name: 'home'}" class="text-sm inline-block p-3 text-gray-800">Home</router-link></li>
        <li v-if="authenticated" @click="setUserMovies(true)"><router-link :to="{ name: 'home'}" class="text-sm inline-block p-3 text-gray-800">My Movies</router-link></li>
      </ul>

      <template v-if="authenticated"> 
       <ul class="flex items-center">
         <li><span  class="text-sm inline-block p-3 text-gray-800"> {{ user.name }}</span></li>
       </ul>
      </template>

      <template v-else> 
       <ul class="flex items-center">
        <li><router-link :to="{ name: 'login'}" class="text-sm inline-block p-3 text-gray-800">Sign in</router-link></li>
      </ul>
      </template>

      
    </header>
</template>

<script>

import { mapGetters, mapState, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      authenticated: 'auth/authenticated',
      user: 'auth/user'
    }),

    ...mapState({
        userMovieView: state=> state.userMovieView
    }),
  },

  methods: {

    ...mapMutations([
        'SET_USER_MOVIE_VIEW'
    ]),

    setUserMovies: function(boolean){
      this.SET_USER_MOVIE_VIEW(boolean);
    }
  }
  
}
</script>

